<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/stylesConocelos.css">
    <!--Fuente banner-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--Fuente total-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/7ba5eb1822.js" crossorigin="anonymous"></script>

    <title>Patitas al Rescate | Conocelos 🐾</title>
</head>

<body>
    <header id="header">
        <div>
            <a href="../index.html"><img src="../public/img/logo transparente.png" id="img"></a>
        </div>
        <div class="button">
            <a href="../views/nosotros.html" class="link">NOSOTROS</a>
        </div>
        <div class="button dropdown">
            <a href="../views/conocelos.html" class="link">ADOPTÁ</a>
            <div class="dropdown-content">
                <a href="../views/conocelos.html">Conócelos</a>
                <a href="../views/adoptForm.html">Adopta</a>
            </div>
        </div>
        <div class="button dropdown">
            <a href="../views/salvaVidas.html" class="link">SALVA VIDAS</a>
            <div class="dropdown-content">
                <a href="../views/salvaVidas.html">Denunciá Maltrato</a>
                <a href="../views/salvaVidas_jornadaCastracion.html">Campaña de Castración</a>
            </div>
        </div>
        <div class="button">
            <a href="../views/contacto.html" class="link">CONTACTO</a>
        </div>
        <div class="button">
            <a href="../views/donaciones.html" class="link">DONACIONES</a>
        </div>
        <div id="buttonDona">
            <a href="../views/dona-ahora.html" id="linkDona">DONÁ AHORA</a>
        </div>
    </header>

    <main>
        <div class="banner">
            <img src="../public/img/adopta.png" alt="imagen-conocelos" class="img-conocelos">
            <div class="text-overlay">CONOCELOS</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="card">
                        <div class="front">
                            <a href="/patitasalrescate/views/adoptForm.html">
                                <div class="pet-box_image">
                                    <img src="../public/img/zoayruri.png" alt="imagen de patiter">
                                </div>
                            </a>
                        </div>
                        <div class="back">
                            <article class="pet-box_data">
                                <h1 class="data-pet">Zoa y Ruri</h1>
                                <h1 class="data-pet">3 meses</h1>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <div class="front">
                            <a href="">
                                <div class="pet-box_image">
                                    <img src="../public/img/panther.png" alt="imagen de patiter">
                                </div>
                            </a>
                        </div>
                        <div class="back">
                            <article class="pet-box_data">
                                <h1 class="data-pet">Panther</h1>
                                <h1 class="data-pet">8 meses</h1>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <div class="front">
                            <a href="">
                                <div class="pet-box_image">
                                    <img src="../public/img/marlboro.png" alt="imagen de patiter">
                                </div>
                            </a>
                        </div>
                        <div class="back">
                            <article class="pet-box_data">
                                <h1 class="data-pet">Marlboro</h1>
                                <h1 class="data-pet">4 meses</h1>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <div class="front">
                            <a href="">
                                <div class="pet-box_image">
                                    <img src="../public/img/jeremias.png" alt="imagen de patiter">
                                </div>
                            </a>
                        </div>
                        <div class="back">
                            <article class="pet-box_data">
                                <h1 class="data-pet">Jeremias</h1>
                                <h1 class="data-pet">3 meses</h1>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <div class="front">
                            <a href="">
                                <div class="pet-box_image">
                                    <img src="../public/img/arroyos.png" alt="imagen de patiter">
                                </div>
                            </a>
                        </div>
                        <div class="back">
                            <article class="pet-box_data">
                                <h1 class="data-pet">Arroyos</h1>
                                <h1 class="data-pet">4 meses</h1>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-box">
            <div class="content-footer">
                <div class="sections-footer">
                    <div class="logobox-footer">
                        <img class="logo-footer" src="../public/img/logo transparente.png">
                    </div>
                </div>
                <div class="categories-footer">
                    <div class="sections-footer">
                        <p class="title-footer">Navegación</p>
                        <ul class="navList-footer">
                            <li><a href="#">Términos y Condiciones</a></li>
                            <li><a href="#">Privacidad</a></li>
                            <li><a href="app/patitapp">PatitApp</a></li>
                        </ul>
                    </div>
                    <div class="sections-footer">
                        <p class="title-footer">Nosotros</p>
                        <ul class="aboutList-footer">
                            <li><a href="#">Quiénes somos</a></li>
                            <li><a href="#">Trabaja con Nosotros</a></li>
                        </ul>
                    </div>
                    <div class="sections-footer">
                        <p class="title-footer">Contacto</p>
                        <ul class="contactList-footer">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="/contact">Contáctanos</a></li>
                            <li><a href="#">Botón de arrepentimiento</a></li>
                        </ul>
                    </div>
                    <div class="sections-footer">
                        <p class="title-footer">Sigamos conectados</p>
                        <div class="sitesLogos-footer">
                            <div class="facebook">
                                <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr" target="_blank"><i
                                        class="fa-brands fa-facebook"></i></a>
                            </div>
                            <div class="instagram">
                                <a href="https://www.instagram.com/patitasalrescate/?hl=es" target="_blank"><i class="fa-brands fa-instagram"></i></a>

                            </div>
                            <div class="patitapp">
                                <a href="app/patitapp" target="_blank"><i class="fa fa-solid fa-paw"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="reservados-footer">
                        <p>Copyright @ 2024 Patitas al Rescate - Derechos reservados</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>	
</html>
