<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/stylesContacto.css">
    <script src="../public/js/contactoValidations.js"></script>
</head>
<body class="body">
    <header id="header">
        <div>
            <a href="../index.html"><img src="../public/img/logo transparente.png" id="img"></a>
        </div>
        <div class="button">
            <a href="./views/nosotros.html" class="link">NOSOTROS</a>
        </div>
        <div class="button dropdown">
            <a href="../views/conocelos.html" class="link">ADOPTÁ</a>
            <div class="dropdown-content">
                <a href="../views/conocelos.html">Conócelos</a>
                <a href="../views/adoptForm.html">Adopta</a>
            </div>
        </div>
        <div class="button dropdown">
            <a href="../views/salvaVidas.html" class="link">SALVA VIDAS</a>
            <div class="dropdown-content">
                <a href="../views/salvaVidas.html">Salva Vidas</a>
                <a href="../views/salvaVidas_jornadaCastracion.html">Campaña de Castración</a>
            </div>
        </div>
        <div class="button">
            <a href="../views/contacto.html" class="link">CONTACTO</a>
        </div>
        <div class="button">
            <a href="../views/donaciones.html" class="link">DONACIONES</a>
        </div>
        <div id="buttonDona">
            <a href="../views/dona-ahora.html" id="linkDona">DONÁ AHORA</a>
        </div>
    </header>

    <main>
        <div class="parrafo">
            <p>
                Queres ser voluntario o necesitas contactarte con nosotros por algun otro motivo?
                Deja tu contacto y mensaje y te contestaremos a la brevedad.
            </p>
        </div>

        <form class="form" id="form" method="POST" class="adopt-form" enctype="multipart/form-data">
            <h2>Contactanos</h2>
        
            <div class="input-group">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" name="email" id="email" placeholder="Ej: mariaperez@gmail.com..." class="form-input">
                <div class="error" id="error-email" style="color: red;"></div>
            </div>
        
            <div class="input-group">
                <label for="nombre" class="form-label">Nombre y Apellido</label>
                <input type="text" name="text-name" id="text-animals" class="form-input"
                    placeholder="Escriba aqui su nombre...">
                    <div class="error" id="error-text-animals" style="color: red;"></div>
            </div>
        
            <div class="input-group other-animals">
                <label for="ciudad" class="form-label">Ciudad</label>
                <input type="text" name="ciudad" id="text-other-animals" class="form-input"
                    placeholder="Escriba en que ciudad vive...">
                <div class="error" id="error-text-other-animals" style="color: red;"></div>
            </div>
        
            <div class="input-group if-holiday">
                <label for="phone" class="form-label">Telefono</label>
                <input type="number" name="phone" id="text-if-holiday" class="form-input">
                <div class="error" id="error-text-if-holiday" style="color: red;"></div>
            </div>
        
            <div class="input-group">
                <label for="room" class="form-label">Mensaje</label>
                <input type="text" name="room" id="room" class="form-input">
                <div class="error" id="error-room" style="color: red;"></div>
            </div>
        
            <div class="button-container">
                <button type="submit" id="newAdoptionButton" class="newAdoptionButton">Enviar</button>
            </div>
        </form>
    </main>

    <footer>
        <div class="footer-box">
            <div class="content-footer">
                <div class="sections-footer">
                    <div class="logobox-footer">
                        <img class="logo-footer" src="../public/img/logo transparente.png">
                    </div>
                </div>
                <div class="categories-footer">
                    <div class="sections-footer">
                        <p class="title-footer">Navegación</p>
                        <ul class="navList-footer">
                            <li><a href="#">Términos y Condiciones</a></li>
                            <li><a href="#">Privacidad</a></li>
                            <li><a href="app/patitapp">PatitApp</a></li>
                        </ul>
                    </div>
                    <div class="sections-footer">
                        <p class="title-footer">Nosotros</p>
                        <ul class="aboutList-footer">
                            <li><a href="#">Quiénes somos</a></li>
                            <li><a href="#">Trabaja con Nosotros</a></li>
                        </ul>
                    </div>
                    <div class="sections-footer">
                        <p class="title-footer">Contacto</p>
                        <ul class="contactList-footer">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="/contact">Contáctanos</a></li>
                            <li><a href="#">Botón de arrepentimiento</a></li>
                        </ul>
                    </div>
                    <div class="sections-footer">
                        <p class="title-footer">Sigamos conectados</p>
                        <div class="sitesLogos-footer">
                            <div class="facebook">
                                <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr" target="_blank"><i
                                        class="fa-brands fa-facebook"></i></a>
                            </div>
                            <div class="instagram">
                                <a href="https://www.instagram.com/" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></a>
                            </div>
                            <div class="patitapp">
                                <a href="app/patitapp" target="_blank"><i class="fa fa-solid fa-paw"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="reservados-footer">
                        <p>Copyright @ 2024 Patitas al Rescate - Derechos reservados</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>