<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/stylesNosotros.css">
        <!--Fuente banner-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
        <!--Fuente total-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <!--Iconos-->
        <script src="https://kit.fontawesome.com/7ba5eb1822.js" crossorigin="anonymous"></script>

        <title>Patitas al Rescate | Nosotros 🐾</title>
    </head>

    <body>
        <header id="header">
            <div>
                <a href="../index.html"><img src="../public/img/logo transparente.png" id="img"></a>
            </div>
            <!-- Botón de hamburguesa -->
            <div class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <!-- Menú de navegación -->
            <nav class="nav-menu">
                <ul>
                    <li><a href="../views/nosotros.html" class="link">NOSOTROS</a></li>
                    <li class="dropdown">
                        <a href="#" class="link">CONÓCELOS <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-content">
                            <a href="../views/conocelos.html">Conócelos</a>
                            <a href="../views/adoptForm.html">Adopta</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="link">SALVA VIDAS <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-content">
                            <a href="../views/salvaVidas.html">Denunciá Maltrato</a>
                            <a href="../views/salvaVidas_jornadaCastracion.html">Campaña de Castración</a>
                        </div>
                    </li>
                    <li><a href="../views/contacto.html" class="link">CONTACTO</a></li>
                    <li><a href="../views/donaciones.html" class="link">DONACIONES</a></li>
                </ul>
            </nav>
            <div id="buttonDona">
                <a href="https://link.mercadopago.com.ar/acpatitasalrescate" target="_blank">DONÁ AHORA</a>
            </div>
        </header>
    
        <main class="main">
            <div class="banner">
                <img src="../public/img/nosotros.png" alt="imagen-nosotros" class="img-nosotros">
                <div class="text-overlay">NOSOTROS</div>
            </div>
            <div class="columnas">
                <div class="col1">
                    <h4>¿Quiénes somos?</h4>
                    <p>
                        Somos un gran equipo conformado por 18 mujeres de diferentes edades que se unen para llevar a cabo esta hermosa misión. Tenemos un gran grupo de tránsitos y traslados, además de mucha gente que colabora individualmente desde su lugar.
                    </p>
                </div>
                <div class="col2">
                    <h4>¿Qué hacemos?</h4>
                    <p>
                        Nuestra misión es rescatar, rehabilitar y dar en adopción a animales en situación de calle. Además, nos encargamos de concientizar acerca de temas importantes como la adopción responsable, la importancia de la adopción, entre otros.
                    </p>
                </div>
                <div class="col3">
                    <h4>¿De dónde somos?</h4>
                    <p>
                        Zona Norte, Capital, y Zona Oeste.
                    </p>
                </div>
            </div>
        </main>
    
        <footer>
            <div class="footer-box">
                <div class="content-footer">
                    <div class="sections-footer">
                        <div class="logobox-footer">
                            <img class="logo-footer" src="../public/img/logo transparente.png">
                        </div>
                    </div>
                    <div class="categories-footer">
                        <div class="sections-footer">
                            <p class="title-footer">Nosotros</p>
                            <ul class="aboutList-footer">
                                <li><a href="nosotros.html">Quiénes somos</a></li>
                                <li><a href="contacto.html">Trabaja con Nosotros</a></li>
                            </ul>
                        </div>
                        <div class="sections-footer">
                            <p class="title-footer">Contacto</p>
                            <ul class="contactList-footer">
                                <li><a href="contacto.html">Contáctanos</a></li>
                            </ul>
                        </div>
                        <div class="sections-footer">
                            <p class="title-footer">Sigamos conectados</p>
                            <div class="sitesLogos-footer">
                                <div class="facebook">
                                    <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                                </div>
                                <div class="instagram">
                                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                               
                            </div>
                        </div>
                        <div class="reservados-footer">
                            <p>Copyright @ 2024 Patitas al Rescate - Derechos reservados</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- JavaScript necesario (jQuery y Bootstrap) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script>
            // JavaScript para activar el menú hamburguesa
            $(document).ready(function () {
                $('.hamburger-menu').click(function () {
                    $('.nav-menu').toggleClass('active');
                });
            });
        </script>
    </body>    
</html>
