*
    {margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;}

/*HEADER*/
#header {
    width: 100%;
    height: 17vh;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    background-color: #F2C9DC;
}

.button {}

.link {
    text-decoration: none;
    color: black;
}

.linkLogo {}

.link:hover {
    color: white;
}

#img {
    background-color: #CBC5D9;
    border-radius: 50%;
    max-width: 15vw;
    max-height: 15vh;
}

#buttonDona {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 10vw;
    background-color: #CBC5D9;
    border-radius: 3rem;
}

#linkDona {
    color: white;
    text-decoration: none;
}

#linkDona:hover {
    color: black;
}

/*dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*BODY*/
.banner
    {position: relative;
    padding-bottom: 15px;
    width: 100%;
    height: auto;
    text-align: center;}

.img-salvavidas
    {width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 70vh;
    object-fit: cover;}

.text-overlay
    {position: absolute;
    top: 75%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: #F2F2F2;
    font-family: "Barlow", sans-serif;
    font-size: 7.5rem;
    font-weight: 800;
    white-space: nowrap; }
.salvaVidasInfo{
    box-sizing: border-box;
    background-color:white;
    width: 85%;
    margin: 1% auto;
    padding: 1em;
    display: flex;
    flex-direction:row;
    align-items: center; 
    font-family: "Barlow", sans-serif;
    font-size: 1.2em;
}
.salvaVidasInfo .textoSalvaVidas{
    list-style: none;
    width: 100% ;
}
.salvaVidasInfo .textoSalvaVidas .subtitulo{
    font-weight: bold;
}
.salvaVidasInfo .listaQEsMaltrato{
    text-align: left;
    margin-left: 2em;
}
.salvaVidasInfo .imgMaltrato{
    width: 35%;
    margin-left: 2em;
}


/*FOOTER*/
footer
    {background-color: #F2C9DC;}

.footer-box
    {display: flex;
    align-items: center;}

/*logo*/
.logobox-footer
    {margin-right: 10px;}

.logo-footer
    {max-width: 100%;}

/*contenido*/
.content-footer
    {display: flex;}

.categories-footer
    {display: flex;
    flex-wrap: wrap;
    gap: 10px;}

.sections-footer
    {flex: 1;
    margin-right: 5px;
margin-top: 2em;}

.title-footer
    {font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;}

.navList-footer,
.aboutList-footer,
.contactList-footer
    {list-style: none;
    padding: 0;
    font-size: 14px;}

.navList-footer li,
.aboutList-footer li,
.contactList-footer li
    {margin-bottom: 5px;}

.navList-footer a,
.aboutList-footer a,
.contactList-footer a
    {color: #333}
    
.sitesLogos-footer
    {display: flex;
    gap: 10px;}

.sitesLogos-footer a
    {color: #F8F8F8;}

.footer-box .content-footer .sections-footer .logobox-footer  .logo-footer{
    width: 30%;
    align-content: center;
    margin-left:2em;
    margin-top: -1em;
}
/*copyright*/
.reservados-footer
    {text-align: center;
    font-size: 12px;
    color: #F8F8F8;
    width: 85%;
    margin-top: 20px;}

