* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/*HEADER*/
#header {
    width: 100%;
    height: 17vh;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    background-color: #F2C9DC;
}

.button {}

.link {
    text-decoration: none;
    color: black;
}

.linkLogo {}

.link:hover {
    color: white;
}

#img {
    background-color: #CBC5D9;
    border-radius: 50%;
    max-width: 15vw;
    max-height: 15vh;
}

#buttonDona {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 10vw;
    background-color: #CBC5D9;
    border-radius: 3rem;
}

#linkDona {
    color: white;
    text-decoration: none;
}

#linkDona:hover {
    color: black;
}

/*MAIN*/
/* Banner */
.banner {
    position: relative;
    text-align: center;
    color: white;
}

.img-conocelos
{width: 100%;
height: auto;
max-width: 100%;
max-height: 70vh;
object-fit: cover;}

.text-overlay
    {position: absolute;
    top: 75%;
    left: 67%;
    transform: translate(-50%, -50%);
    color: #F2F2F2;
    font-family: "Barlow", sans-serif;
    font-size: 7.5rem;
    font-weight: 800;}

/* Tarjetas Giratorias */
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;
}

.box {
    position: relative;
    width: 230px;
    height: 280px;
    margin: 10px;
    perspective: 1000px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.box:hover .card {
    transform: rotateY(180deg);
}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card .front {
    background-color: #D9D9D9;
}

.card .back {
    background-color: #D9D9D9;
    transform: rotateY(180deg);
}

.pet-box_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pet-box_data {
    margin-top: 10px;
    border-top: solid 1px #ebebeb;
    width: 100%;
    padding: 10px;
    background-color: #7fbcb221;
}

.name-pet {
    text-align: center;
    color: rgba(41, 53, 51, 1);
    font-size: 130%;
}

a {
    text-decoration: none;
    color: inherit;
}



 /*FOOTER*/
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #F2C9DC;
}


.footer-box
    {display: flex;
    align-items: center;}

/*logo*/
.logobox-footer
    {margin-right: 10px;}

.logo-footer
    {max-width: 100%;}

/*contenido*/
.content-footer
    {display: flex;}

.categories-footer
    {display: flex;
    flex-wrap: wrap;
    gap: 10px;}

.sections-footer
    {flex: 1;
    margin-right: 5px;
margin-top: 2em;}

.title-footer
    {font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;}

.navList-footer,
.aboutList-footer,
.contactList-footer
    {list-style: none;
    padding: 0;
    font-size: 14px;}

.navList-footer li,
.aboutList-footer li,
.contactList-footer li
    {margin-bottom: 5px;}

.navList-footer a,
.aboutList-footer a,
.contactList-footer a
    {color: #333}
    
.sitesLogos-footer
    {display: flex;
    gap: 10px;}

.sitesLogos-footer a
    {color: #F8F8F8;}

.footer-box .content-footer .sections-footer .logobox-footer  .logo-footer{
    width: 30%;
    align-content: center;
    margin-left:2em;
    margin-top: -1em;
}
/*copyright*/
.reservados-footer
    {text-align: center;
    font-size: 12px;
    color: #F8F8F8;
    width: 85%;
    margin-top: 20px;}


